<h2>Listing title</h2>

<table class="table">
  <thead>
    <tr>
      <th>Contents</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for article <- @articles do %>
    <tr>
      <td><%= article.contents %></td>

      <td class="text-right">
        <span><%= link "Edit", to: "/articles", class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
