<h2>Show article</h2>

<ul>

  <li>
    <strong>Contents:</strong>
    <%= @article.contents %>
  </li>

</ul>

<span><%= link "Edit", to: article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: article_path(@conn, :index) %></span>
